*{
    margin: 0;
    padding: 0;
    font-family: 'SUSE', sans-serif;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, rgb(12, 107, 250),rgb(78, 247, 202),rgb(12, 236, 12));
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 25px;
    text-align: center;
}

nav {
    background-color: #333;
    overflow: hidden;

}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #575757;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    font-size: large;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    color: #333;
}

.product p {
    color: #555;
}

.product button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card{
    /* background:linear-gradient(to bottom, rgb(12, 107, 250),rgb(12, 236, 12)); */
    color:black;
    margin: auto;
    border-radius: 20px;
    padding:20px;
    text-align: center;
}

.search{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.search input{
    border:0;
    outline:0;
    background:aliceblue;
    color:#000000;
    padding: 10px 25px;
    width:25px;
    height: 60px;
    border-radius: 10px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; gap: 25px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
   
}

.col img{
    width: 50px;
    margin-right: 10px;
}

.description,
.humidity, 
.wind, 
.pressure,
.map{
    font-size: 20px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: center;
    color:#2e32f7;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}